# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [3]:
number = 6
print(number)
print(type(number))
# interter is a class 
# python automatically sets a whole number to class interger

6
<class 'int'>

##### Assinging float

In [7]:
number = 3.0
print(number)
print(type(number))
# because we put a decimal point, Python automatically makes it a float class.

3.0
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [8]:
#PEMDAS  order of operations
num1 = 2
num2 = 5.4
result =  num1 + num2
print(result)
# an int plus a float makes it into a float
result+=2
print(result)
# result += 2 is the same as result+2

7.4
9.4

##### Subtraction

In [10]:
result_diff = num2 - num1
print(result_diff)
# why all those zero's? Computer math, based on bits.
# think of it as a rounding error
# read bottom of this page for more explaination https://jakevdp.github.io/PythonDataScienceHandbook/02.01-understanding-data-types.html

#shorthand
result_diff -= 1
# is the same as result_diff = result_diff -1

3.4000000000000004

##### Multiplication

In [11]:
product = num1 * num2
print(product)
# shorthand
product *= 2
print(product)
# above is same as product = procut * 2

10.8
21.6

##### Division

In [12]:
quo = num2 / num1
print(quo)
#shorthand
quo /= 2
print(quo)
#same as quo = quo /2

2.7
1.35

##### Floor Division

In [13]:
# brings the result down to the closest whole number
result_floor = num2 // num1
print(result_floor)
# num2 / num 1 is 2.7, so floor moves it to 2.0
# ceiling requires inport of a math module
# shorthand
result_floor //= 1.234
print(result_floor)

2.0
1.0

##### Modulo

In [14]:
# returns the remainder of a division
num3 = 18
num4 = 5
result_mod = num3 % num4
print(result_mod)
# 18 / 5 = 3 with a remainder of 3
# when building a website and you want three items in each row, you canuse 
# modulo to figure out when to go to the next row.
# same %= shorthand applies to mod

3

##### Exponential

In [15]:
square = 5 **2
print(square)
#shorthand also applies
square **=2
print(square)
#to do square root , import a module or cheat like this:
# square root of 2:
square_root = 2 ** (1/2)
print(square_root)
# fractions are also floats

25
625
1.4142135623730951

### String Input-Output

##### String Assignment

In [16]:
# text, put them inside quotation marks
name = "Jessica"
print(type(name))

<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [17]:
print("This is my first name", name)
# comma adds a space
print("Full Name", name, end=" Rinks")
# end="" also overrides the new line so if you run a second
# print statement after the one with the end, it would not be on a new line.

This is my first name Jessica
Full Name Jessica Rinks

##### String Concatenation

In [18]:
first = "Jessica"
last = "Rinks"
full_name = first + last
print(full_name)
# note theres no space in between
print(full_name[0])
full_name = first + " " + last
#shorthand
full_name += "Jr."
print(full_name)
# the comma thing is only for print statements

JessicaRinks
J
Jessica RinksJr.

##### Type Conversion

In [19]:
number = "32"
print(number)
print(type(number))
number = int(number)
print(type(number))
# changing the class is called "type casting"
number = float(number)
print(number)
number = str(number)
print(type(number))
# int is looking for a base 10 number
# so something like 32.f woulld not work
# if you change string "3.2" to int, it will throw an error
number = "3.2"
#number = int(number)
print(number)

32
<class 'str'>
<class 'int'>
32.0
<class 'str'>
3.2

##### input()

In [ ]:
# user input
# input() is a bult in function
# IT WILL ALWAYS RETURN A STRING!!!!!
# age = input("What is your age")
# print(age)
#print(age) + 5)
# if you want to do math, change input to an int or float
# but if we add an int() around the input() math will work
# age = int(input("What is your age"))
# print(age + 6)

#### str.format

In [21]:
# .format  a method we can use on a string
# format() is a function
# method is a function that lives on a specific class
# name = input("What is your name?")
# age = input("What is your age")
# result_string = "You are AGE, NAME and you are getting wiser!"
# result_string = "You are "+age+" "+NAME+" "+ and you are getting wiser!"
#using .format
# result_string = "You are {}, {} and you are getting wiser!".format(age,name)
# print(result_string)
# using F string
# result_string = f"{age} is a great time of life, {name}"
# print(result_string)

##### Old Way (python 2)resu

In [22]:
# this is the old way of doing it
# result_string2 = "you are %s and you look great for your age!" %age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [23]:
# color = input("What is the color?")
# year = int(input("What is the year?"))
# make = input("What is the make?")
# model = input("What is the model")
# your_car = f"Your car is a {year} {color} {make} {model}"
# print(your_car)

### If Statements

In [202]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
if num1 < num2: 
    print("num1<num2= is true")
if num1 == num2: 
    print("num1==num2= is true")
if num1 > num2:
    print("num1>num2= is true")

num1<num2= is true

##### 'is' keyword

In [203]:
# is keyword checks for same/similar object, NOT same value
num3 = 77
num4 = num3
num5 = int("77")
if num3 is num5:
    print("this is the same number/object")

this is the same number/object

##### 'in' keyword

In [204]:
# in can be used in strings, lists and dicts

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [205]:
# question = input("What is your favorite quote?")
# if "p" in question.lower():
#     print("there is a p")
# else:
#     print("there is no p")

What is your favorite quote?carpe diem
there is a p

## Using 'and'/'or' with If Statements

In [206]:
num_1 = 15
num_2 = 3
num_3 = 10
num_4 = 3
# if with and
if num_1 / 5 == num_2 and num_3 - 7 == num_4:
    print("true and true")

# and &
# or |
if num_1 / 5 == num_2 | num_3 - 8 == num_4:
    print("true or true")

true and true
true or true

### Elif Statements

In [24]:
# else if, will only run if the If before it did not
# whereas an If statment will run even if the If above it was also true
num_6 = 25
if num_6 % 5 ==0:
    print("Divisible by five")
# even tho this elif is true, it wont run because the IF above it was true
# which means the elif and else will be skipped
elif num_6 > 20:
    print("is greater than 20")
else:
    print("is not greater than 20 and is not divisible by 5")

Divisible by five

### Else Statements

In [25]:
# see above

### For Loops

In [26]:
# two types of loops: For and While
# syntax:    for (iterator keyword) (loop keyword) (iterable)
# you can name the iterator anything you want
# iterable is the thing you are iterating thru

for i in range(10):
    print(i)

name = "Jessica"
for letter in name:
    print(letter)

0
1
2
3
4
5
6
7
8
9
J
e
s
s
i
c
a

##### Using 'in' keyword

In [27]:
# see above

##### Continue Statement

In [28]:
# will continue to next iteration
# continue skips any code thats below it, goes to the next
# iteration and starts at the top of the loop again

##### Break Statement

In [29]:
# will break out of current loop

##### Pass Statement

In [30]:
# mostly used as a placeholder, and will continue on same iteration
# if you don't know what your indented block of code will be
# you can put "pass" in there so you don't get an error
# then come back later and add in the rest of your code

##### Double For Loops

In [31]:
# also called nested loops
# nested for loops aren't very efficient
# in the example below, for a list of 5 elements
# the list has to run 25 different times
for i in range(5):
    for j in range(5):
        print(f"i = {i} and j = {j}")

i = 0 and j = 0
i = 0 and j = 1
i = 0 and j = 2
i = 0 and j = 3
i = 0 and j = 4
i = 1 and j = 0
i = 1 and j = 1
i = 1 and j = 2
i = 1 and j = 3
i = 1 and j = 4
i = 2 and j = 0
i = 2 and j = 1
i = 2 and j = 2
i = 2 and j = 3
i = 2 and j = 4
i = 3 and j = 0
i = 3 and j = 1
i = 3 and j = 2
i = 3 and j = 3
i = 3 and j = 4
i = 4 and j = 0
i = 4 and j = 1
i = 4 and j = 2
i = 4 and j = 3
i = 4 and j = 4

### While Loops

In [32]:
# INFINITE LOOPS!!! BE CAREFUL
# whill run the block of code as long ass something is true
# it will continue running until a certain condition is met
# sytax:  while (some conditional statement)
num = 0
while num < 10:
    print(num)
    num += 1
# num += 1 is what keeps you from getting caught in an infinite loop

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [33]:
# game_over = False

# while True:
#     ask = input("do you want to continue playing")
#     print("infinite loop")
#     if ask == "no":
#         break
#     print("gameplay happening")
#     print("game ended")
# print("loop ended")

##### While & For Loops Used Together

In [34]:
num = 0

while num < 5:
    print(f"While Loop Iteration {num}")
    
    for i in range(2):
        print(f"For Loop Iteration: (i)")
    
    num += 1
    print("\n")

While Loop Iteration 0
For Loop Iteration: (i)
For Loop Iteration: (i)


While Loop Iteration 1
For Loop Iteration: (i)
For Loop Iteration: (i)


While Loop Iteration 2
For Loop Iteration: (i)
For Loop Iteration: (i)


While Loop Iteration 3
For Loop Iteration: (i)
For Loop Iteration: (i)


While Loop Iteration 4
For Loop Iteration: (i)
For Loop Iteration: (i)

### Built-In Functions

##### range()

In [35]:
# range makes range objects
range(10)
# if you want a list, us list
print(list(range(10)))
# range (start, stop, step)
for i in range(5, 10, 2):
    print(i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
5
7
9

##### len()

In [36]:
# checks the length of a variable
#name = "jessica"
#print(len(name))
number = 123456786
# you can't do len of a int print(len(number))
# list = [1, 2, 3, 4, 5]
# but you can do a list
# print(len(list))
# use range and length together
names = ["Brian", "Kevin", "Jessica", "Derek"]
print(len(names))
for i in range(len(names)):
    print(names[i])

4
Brian
Kevin
Jessica
Derek

##### help()

In [37]:
#help(functon name)
#dir(function name) gives you something... i can't remmeber

##### isinstance()

In [38]:
# checks a variable to find out what object family it belongs to
# ininstance(variable, type)
# print(isinstance(4, int))


# some_num = 4.0
# if isinstance(some_num, float):
   # print("This number is a float")
# else:
   # print("not a float")


##### abs()

In [39]:
#absolute value
# how far that number is from zero
abs(-5)

5

### Try and Except

In [40]:
# used to try something and if it fails provide some kind of exception
# use when you expect to find a bug so that program doesn't stop
# try:
#    put your stuff here
# except:
#    if the above errors out, what should happen?

### Lists

##### Declaring Lists

In [41]:
# you can put almost anything in a list
# an ordered collection of data
# declare a list using square brackets, this is an
# empty list decloration
list = []
# or declare a list using a non-empty list decloration
#list = ["dog", "cat", "bird"]
# make a list out of a non list using the list() function
# list = list(1, 2, 3)

##### Indexing a List

In [42]:
# how to grab certain parts of a list
# [start, stop, step]
# single item from a list
# item at index 0
print(names[0])
# items and index 0 thru 1
print(names[0:2])
# items at index 1 thru the end
print(names[1:])
# items starting at index 1 going to the end skipping every other one
print(names[1::2])
# print the last item 
print(names[-1])
print(names[::-1])

Brian
['Brian', 'Kevin']
['Kevin', 'Jessica', 'Derek']
['Kevin', 'Derek']
Derek
['Derek', 'Jessica', 'Kevin', 'Brian']

##### .append()

In [43]:
# appends to the end of a list
# appends one item at a time
names.append("Sara")
print(names)

['Brian', 'Kevin', 'Jessica', 'Derek', 'Sara']

##### .insert()

In [44]:
# for adding things to lists
names.insert(2, "Kelly")
print(names)

['Brian', 'Kevin', 'Kelly', 'Jessica', 'Derek', 'Sara']

##### .pop()

In [45]:
# if no parameter is given, pop removes an element and returns it
# in case you want to assign it to a variable.
names = ['Brian', 'Kevin', 'Kelly', 'Jessica', 'Derek', 'Sara']
ta_name = names.pop()
print(ta_name)
names.pop()
print(names)
# reset names list 
names = ['Brian', 'Kevin', 'Kelly', 'Jessica', 'Derek', 'Sara']
print(names)

Sara
['Brian', 'Kevin', 'Kelly', 'Jessica']
['Brian', 'Kevin', 'Kelly', 'Jessica', 'Derek', 'Sara']


##### .remove()

In [46]:
# # it does not return like pop does
# # and it uses a value to be removed, not an index
# names = ['Brian', 'Kevin', 'Kelly', 'Jessica', 'Derek', 'Sara']
# names.remove("Kelly")
# print(names)
# # if theres more than one element that matches, it will only remove
# # 

# # use while loop to avoid erros where it skips items
# while bob in names():
#     names.remove("Bob")

##### del()

In [47]:
#BE CAREFUl BECAUSE del can cause index errors
print(names)

['Brian', 'Kevin', 'Kelly', 'Jessica', 'Derek', 'Sara']

##### Concatenating Two Lists

In [48]:
# make two lists into one list (not add up elements)
l2 = [0, 1, 3]
l3 = [3, 4, 5]
l4 = l2 + l3
print(l4)

[0, 1, 3, 3, 4, 5]

##### Lists Within Lists

In [49]:
# lists can hold any type of element including other lists
# go as deep as you want (having as many lists nested inside each other as you want)
print(names)
names = ['Brian', 'Kevin', 'Jessica', 'Derek', 'Sara', ["Dorothy", "toto"]]
print(names)
print(names[5])
# see how Dorothy and toto are returned for index 5 because its a nested list

['Brian', 'Kevin', 'Kelly', 'Jessica', 'Derek', 'Sara']
['Brian', 'Kevin', 'Jessica', 'Derek', 'Sara', ['Dorothy', 'toto']]
['Dorothy', 'toto']

##### Looping Through Lists

In [50]:
names = ['Brian', 'Kevin', 'Jessica', 'Derek', 'Sara']
# using the index
for i in range(len(names)):
    print(i)
# using the n keyword
for i in names:
    print(i)

0
1
2
3
4
Brian
Kevin
Jessica
Derek
Sara

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [51]:
# have the loop print out the cubed number
# 1 8 27... until you reach 1,000.
# aka: what cubed numbers have a value less than 1000


for num in range(100):
    if num ** 3 < 1000:
        print(num ** 3)
     
    else: 
        break

0
1
8
27
64
125
216
343
512
729

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [52]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


for i in range(101):
    if i == 2:
        print(i)
    elif i % 2 != 0 and i % 3 != 0 and i % 5 != 0 and i % 7 != 0 and i != 2:
        print(i)
    else:
        continue

1
2
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [53]:
age = int(input("What is your age?"))
if age > 65:
    print("seniors")
elif age > 18:
    print("adults")
else:
    print("kids")

What is your age?44
adults